/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* Global scope variables */
:root {
  /* startje */
  --color-text: #111;
  --color-text-white: #fff;
  --color-background: #eee;
  --color-tele2-yellow: #ffd300;
}

@font-face {
  font-family: checkman;
  src: url("../Fonts/tele2slabweb-heavy.woff2");
}

@font-face {
  font-family: buttonText;
  src: url("../Fonts/tele2slabweb-bold.woff2");
}

@font-face {
  font-family: listFont;
  src: url("../Fonts/tele2slabweb-regular.woff2");
}

a:hover,
a:active {
  text-decoration: underline;
}

/********/
/* MAIN */
/********/

main > h1 {
  display: none;

  margin: 0;

  color: var(--color-text-white);
  background-color: var(--color-tele2-black);

  font-family: checkman;
}

main h2 {
  margin: 0;
}

/*************/
/* SECTION 1 */
/*************/

main section:first-of-type {
  background-color: var(--color-tele2-black);
  color: var(--color-text-white);

  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 3.5em;
  padding-top: 1.1em;
}

main section:first-of-type h2 {
  display: flex;
  flex-direction: column;

  color: var(--color-text-white);

  font-family: checkman;
  font-size: 2.25em;
  font-weight: lighter;

  line-height: 1em;
}

main section:first-of-type h2 strong {
  color: var(--color-tele2-yellow);
}

main section:first-of-type ul {
  font-family: listFont;
  font-size: 1.3em;
}

main section:first-of-type a {
  display: grid;

  color: var(--color-text);
  background-color: var(--color-tele2-yellow);

  border-radius: 2em;
  padding: 1em;

  font-family: buttonText;
  justify-content: center;
  text-decoration: none;
}

/*************/
/* SECTION 2 */
/*************/

main > section:nth-of-type(2) {
  background-color: var(--color-background-white);

  padding-top: 3em;
  padding-bottom: 3em;
}

main > section:nth-of-type(2) h2 {
  display: none;
}

main > section:nth-of-type(2) ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style-type: none;
}

main > section:nth-of-type(2) ul a {
  display: grid;
  justify-content: center;

  color: var(--color-text);

  margin: 1em;
  padding: 1em;
  border-radius: 2em;

  font-family: buttonText;
  color: var(--color-text-white);
  text-decoration: none;
}

main > section:nth-of-type(2) ul > li:nth-child(1) a {
  background-color: var(--btnColor-lightBlue);
}
main > section:nth-of-type(2) ul > li:nth-child(2) a {
  background-color: var(--btnColor-blue);
}
main > section:nth-of-type(2) ul > li:nth-child(3) a {
  background-color: var(--btnColor-purple);
}
main > section:nth-of-type(2) ul > li:nth-child(4) a {
  background-color: var(--btnColor-pink);
}

/*************/
/* SECTION 3 */
/*************/

main > section:nth-of-type(3) {
  display: flex;
  flex-direction: column;

  color: var(--color-text-white);
  background-color: var(--color-tele2-black);

  padding-top: 2em;
  padding-bottom: 2.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

main section:nth-of-type(3) ul {
  font-family: listFont;
  font-size: 1.3em;
}

main > section:nth-of-type(3) h2 {
  font-family: checkman;
  font-size: 2.25em;
  font-weight: lighter;
}

main > section:nth-of-type(3) a {
  display: grid;
  margin-top: 1em;
  padding: 1em;

  font-family: buttonText;

  color: var(--color-text-white);

  justify-content: center;
  text-decoration: none;
  border-radius: 2em;
}

main > section:nth-of-type(3) > a:nth-of-type(1) {
  color: var(--color-text);
  background-color: var(--btnColor-yellow);
}

main > section:nth-of-type(3) > a:nth-of-type(2) {
  color: var(--btnColor-yellow);
  background-color: var(--btnColor-black);

  border: 0.1em solid var(--btnColor-yellow);
}

/*************/
/* SECTION 4 */
/*************/

main > section:nth-of-type(4) {
  color: var(--color-text);
  background-color: var(--color-tele2-yellow);

  padding-top: 2em;
  padding-bottom: 2.6em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

main > section:nth-of-type(4) > h2 {
  font-family: checkman;
  font-size: 2.25em;
  font-weight: lighter;
}

main section:nth-of-type(4) ul {
  font-family: listFont;
  font-size: 1.3em;
}

main > section:nth-of-type(4) a {
  display: grid;
  padding: 1em;

  font-family: buttonText;

  color: var(--color-text-white);
  background-color: var(--color-text);

  justify-content: center;
  text-decoration: none;
  border-radius: 2em;
}

/*************/
/* SECTION 5 */
/*************/

main > section:nth-of-type(5) {
  color: var(--color-text-white);
  background-color: var(--color-tele2-black);

  padding-top: 2em;
  padding-bottom: 1.6em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

main > section:nth-of-type(5) h2 {
  font-family: checkman;
  font-size: 2.25em;
  font-weight: lighter;
}

main section:nth-of-type(5) ul {
  font-family: listFont;
  font-size: 1.3em;
}

main > section:nth-of-type(5) a {
  display: grid;
  padding: 1em;

  font-family: buttonText;

  color: var(--color-text);
  background-color: var(--btnColor-yellow);

  justify-content: center;
  text-decoration: none;
  border-radius: 2em;
}

main > section:nth-of-type(5) p {
  display: grid;
  justify-content: center;
}

/*************/
/* SECTION 6 */
/*************/

main > section:nth-of-type(6) {
  padding-top: 2em;
  padding-bottom: 2.6em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

main > section:nth-of-type(6) h2 {
  font-family: checkman;
  font-size: 2.25em;
  font-weight: lighter;

  line-height: 1em;
}

main > section:nth-of-type(6) ul:first-of-type {
  list-style-image: url("../images/icons/check_black_24dp.svg");

  font-family: listFont;
  font-size: 1.3em;
}
main > section:nth-of-type(6) ul:first-of-type li::marker {
  background-color: #ffd300;
}

main > section:nth-of-type(6) a {
  font-family: checkman;
  display: grid;
  padding: 1em;

  font-family: buttonText;

  color: var(--color-text-white);
  background-color: var(--btnColor-black);

  justify-content: center;
  text-decoration: none;
  border-radius: 2em;
}

/*************/
/* SECTION 7 */
/*************/

main > section:nth-of-type(7) {
  padding-top: 2em;
  padding-bottom: 2.6em;
  padding-left: 0.8em;
  padding-right: 0.8em;

  color: var(--color-text-white);
  background-color: var(--color-tele2-black);
}

main > section:nth-of-type(7) p {
  margin: 0;
}

main > section:nth-of-type(7) h2 {
  display: none;
}

main > section:nth-of-type(7) p:first-of-type,
main > section:nth-of-type(7) p:nth-of-type(2) {
  font-family: checkman;
  font-size: 2.25em;
  font-weight: lighter;

  line-height: 1em;
}

main > section:nth-of-type(7) p:nth-of-type(2) {
  color: var(--color-tele2-yellow);
}

main > section:nth-of-type(7) p:nth-of-type(3) {
  font-family: listFont;
  font-size: 1.3em;

  line-height: 1.7em;

  margin-top: 1.5em;
  margin-bottom: 2em;
}

main > section:nth-of-type(7) a {
  display: grid;
  padding: 1em;

  font-family: buttonText;

  color: var(--color-text);
  background-color: var(--btnColor-yellow);

  justify-content: center;
  text-decoration: none;
  border-radius: 2em;
}

/*************/
/* SECTION 8 */
/*************/

main > section:nth-of-type(8) {
  color: var(--color-text-white);
  background-color: var(--color-text-white);

  padding-top: 3em;
  padding-bottom: 3em;
}

main > section:nth-of-type(8) h2 {
  display: none;
}

main > section:nth-of-type(8) ul {
  padding: 0;
}

main > section:nth-of-type(8) ul a {
  display: grid;
  justify-content: center;

  color: var(--color-text);

  margin: 1em;
  padding: 1em;
  border-radius: 2em;

  font-family: buttonText;
  color: var(--color-text-white);
  text-decoration: none;
}

main > section:nth-of-type(8) ul > li:nth-child(1) a {
  background-color: var(--btnColor-lightBlue);
}
main > section:nth-of-type(8) ul > li:nth-child(2) a {
  background-color: var(--btnColor-blue);
}
main > section:nth-of-type(8) ul > li:nth-child(3) a {
  background-color: var(--btnColor-purple);
}
main > section:nth-of-type(8) ul > li:nth-child(4) a {
  background-color: var(--btnColor-pink);
}

@media (min-width: 48em) {
  main section:first-of-type {
    background-color: var(--color-tele2-black);
    color: var(--color-text-white);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;

    /* padding-left: 20em;
    padding-right: 20em; */
    padding-bottom: 3.5em;
    padding-top: 1.1em;
    padding-left: 2em;
    padding-right: 2em;
  }

  main section:first-of-type h2 {
    align-self: center;
  }

  main > section:first-of-type > img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  main > section:first-of-type > a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: start;
  }

  /*************/
  /* SECTION 2 */
  /*************/
  
  main > section:nth-of-type(2) {

    background-color: var(--color-background-white);
  
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
  }

  main > section:nth-of-type(2) > nav {
    margin: 2em auto;
  }

  main > section:nth-of-type(2) ul {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;

    /* margin: 0 1em; */
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  main > section:nth-of-type(2) ul > li a {
    color: var(--color-text-white);

    display: grid;
    justify-content: center;

    margin: 0;
    padding: 1.1em 1em;

    border-radius: 2em;

    font-family: buttonText;
    font-size: 1.1em;
    text-decoration: none;
  }

  main > section:nth-of-type(2) ul > li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.11em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--color-text-white);
  }


  /*************/
  /* SECTION 3 */
  /*************/

  main > section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 3fr ;
    padding-left: 2em;
    padding-right: 2em;
  }


  main > section:nth-of-type(3) h2 {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;

    font-family: checkman;
    font-size: 2.25em;
    font-weight: lighter;
  }

  main section:nth-of-type(3) ul {
    grid-column-start: 2;
    grid-row-start: 2;

    margin-bottom: 9em;

    font-family: listFont;
    font-size: 1.3em;
  }

  main section:nth-of-type(3) > img {
    /* width: 100%; */
    grid-column-start: 1;
    grid-row-start: 2;

    padding-right: 2em;
  }

  main > section:nth-of-type(3) > a:nth-of-type(1) {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: end;

    margin-bottom: 4.5em;

    color: var(--color-text);
    background-color: var(--btnColor-yellow);
  }

  main > section:nth-of-type(3) > a:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: end;

    color: var(--btnColor-yellow);
    background-color: var(--btnColor-black);
  
    border: 0.1em solid var(--btnColor-yellow);
  }
  

  /*************/
  /* SECTION 4 */
  /*************/

  main > section:nth-of-type(4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 3fr ;

    padding-left: 2em;
    padding-right: 2em;
  }

  main > section:nth-of-type(4) > ul {
    grid-column-start: 1;
  }

  main > section:nth-of-type(4) > img {
    grid-column-start: 2;
    padding-left: 2em;
  }

  main > section:nth-of-type(4) > a {
    grid-column-start: 1;
    align-self: center;
  }

  
  /*************/
  /* SECTION 5 */
  /*************/

  main > section:nth-of-type(5) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 3fr ;

    padding-left: 2em;
    padding-right: 2em;
  }

  main > section:nth-of-type(5) > h2 {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;

    font-family: checkman;
    font-size: 2.25em;
    font-weight: lighter;
  }

  main section:nth-of-type(5) ul {
    grid-column-start: 2;
    grid-row-start: 2;

    margin-bottom: 9em;

    font-family: listFont;
    font-size: 1.3em;
  }

  main section:nth-of-type(5) > img {
    /* width: 100%; */
    grid-column-start: 1;
    grid-row-start: 2;

    padding-right: 2em;
  }

  main > section:nth-of-type(5) > a:nth-of-type(1) {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: end;

    margin-bottom: 4.5em;

    color: var(--color-text);
    background-color: var(--btnColor-yellow);
  }

  main > section:nth-of-type(5) > p {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: end;

  }

  /*************/
  /* SECTION 6 */
  /*************/

  main > section:nth-of-type(6) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 3fr ;

    padding-left: 2em;
    padding-right: 2em;
  }

  main > section:nth-of-type(6) > h2 {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;

    font-family: checkman;
    font-size: 2.25em;
    font-weight: lighter;
  }

  main > section:nth-of-type(6) > ul {
    grid-column-start: 2;
    grid-row-start: 2;

    font-family: listFont;
    font-size: 1.3em;
  }

  section:nth-of-type(6) > ul > li {
    margin-bottom: 0.3em;
  }

  main > section:nth-of-type(6) > img {
    /* width: 100%; */
    grid-column-start: 1;
    grid-row-start: 2;

    padding-right: 2em;
  }

  main > section:nth-of-type(6) > a {
    grid-column-start: 2;
    align-self: center;
  }

  /*************/
  /* SECTION 7 */
  /*************/

  main > section:nth-of-type(7) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 3fr;

    padding-left: 2em;
    padding-right: 2em;
  }
  
  main > section:nth-of-type(7) > p:nth-of-type(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: start;

    font-family: checkman;
    font-size: 2.25em;
    font-weight: lighter;
  }

  main > section:nth-of-type(7) > p:nth-of-type(2) {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: center;

    font-family: checkman;
    font-size: 2.25em;
    font-weight: lighter;

    margin-top: 1em;

  }

  main > section:nth-of-type(7) > p:nth-of-type(3) {
    grid-column-start: 1;
    grid-row-start: 2;

  }

  main > section:nth-of-type(7) > img {
    grid-column-start: 2;
    grid-row-start: 2;
    padding-left: 2em;
  }

  main > section:nth-of-type(7) > a {
    grid-column-start: 1;
    grid-row-start: 3;
    align-self: center;
  }

  /*************/
  /* SECTION 8 */
  /*************/

  main > section:nth-of-type(8) {
    background-color: var(--color-background-white);
  
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
  }

  main > section:nth-of-type(8) > nav {
    margin: 2em auto;
  }

  main > section:nth-of-type(8) ul {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;

    /* margin: 0 1em; */
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  main > section:nth-of-type(8) ul > li a {
    color: var(--color-text-white);

    display: grid;
    justify-content: center;

    margin: 0;
    padding: 1.1em 1em;

    border-radius: 2em;

    font-family: buttonText;
    font-size: 1.1em;
    text-decoration: none;
  }

  main > section:nth-of-type(8) ul > li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.11em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--color-text-white);
  }


  @supports (text-decoration: underline white 0.11em) {
    main > section:nth-of-type(2) ul > li a:hover {
      text-decoration: underline var(--color-text-white) 0.11em;
      text-underline-offset: 0.3em;
    }
  }
}

@media (min-width: 64em) {  

  /*************/
  /* SECTION 1 */
  /*************/

  main > section:first-of-type {
    display: grid;
    grid-template-columns: minmax(auto, 39.75em) minmax(auto, 39.75em);
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
  }

  main > section:first-of-type > a:first-of-type {
    display: inline-block;
    justify-self: start;
  }
  
  
  /*************/
  /* SECTION 2 */
  /*************/
  main > section:nth-of-type(2) {
    display: flex;
    justify-content: center;

    background-color: var(--color-background-white);
  
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
  }

  main > section:nth-of-type(2) > nav > ul {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: minmax(15em, 19.5em) minmax(14em, 19.5em) minmax(14em, 19.5em) minmax(14em, 19.5em);

    /* margin: 0 1em; */
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  /*************/
  /* SECTION 3 */
  /*************/
  main > section:nth-of-type(3) {

  }
  /*************/
  /* SECTION 4 */
  /*************/
  main > section:nth-of-type(4) {

  }
  /*************/
  /* SECTION 5 */
  /*************/
  main > section:nth-of-type(5) {

  }
  /*************/
  /* SECTION 6 */
  /*************/
  main > section:nth-of-type(6) {

  }
  /*************/
  /* SECTION 7 */
  /*************/
  main > section:nth-of-type(7) {

  }
  /*************/
  /* SECTION 8 */
  /*************/
  main > section:nth-of-type(8) {

    display: flex;
    justify-content: center;

    background-color: var(--color-background-white);
  
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
    
  }

  main > section:nth-of-type(8) > nav > ul {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: minmax(15em, 19.5em) minmax(14em, 19.5em) minmax(14em, 19.5em) minmax(14em, 19.5em);

    /* margin: 0 1em; */
    margin: 0;
    padding: 0;

    list-style-type: none;
  }
  
}