/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

button,
summary {
  cursor: pointer;
}

/* img {
  width: 100%;
  height: 100%;
} */

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-text-grey: #a4a4a4;
  --color-text-white: #fff;

  --color-background: #eee;
  --color-tele2-yellow: #ffd300;
  --color-tele2-black: #000;
}

/*******************/
/* GENERAL STYLING */
/*******************/
body {
  color: var(--color-text);
  background-color: var(--color-background);
}

header > a path,
footer > section a path {
  fill: var(--color-tele2-yellow);
}

/****************/
/* HEADER */
/****************/

body > header {
  background-color: var(--color-tele2-black);
}

header > button {
  background-color: var(--color-tele2-black);

  border: none;
}

header > button svg {
  fill: var(--color-text-white);
}

header > nav > ul {
  list-style-type: none;
  padding: 0.3em;
  margin-bottom: 0;
}

header nav:first-of-type svg {
  fill: var(--color-text-white);
}

header nav:nth-of-type(2) > ul a {
  text-decoration: none;
}

/****************/
/* FOOTER */
/****************/

footer section:first-of-type {
  background-color: var(--color-tele2-yellow);
}

footer section:first-of-type section button {
  background-color: var(--color-tele2-yellow);

  border: none;
}

footer section:first-of-type section button {
  background-color: var(--color-tele2-yellow);

  border: none;
}

footer section ul {
  list-style-type: none;
}

footer a {
  text-decoration: none;
}
