/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: #eee;
  --color-tele2-yellow: #ffd300;
}

/*******************/
/* GENERAL STYLING */
/*******************/
body {
  color: var(--color-text);
  background-color: var(--color-background);
}

header > a path,
footer > section a path {
  fill: var(--color-tele2-yellow);
}

/****************/
/* HEADER */
/****************/

/****************/
/* FOOTER */
/****************/
